header section {
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li a {
    margin: 0px 15px;
    color: #3399CC;
}

.course {
    width: 1024px;
    justify-content: space-evenly;
    margin: 20px auto;
    display: flex;
    color: #3399CC;
    align-items: center;
}

.recaps {
    align-items: center;
}

.profile {
    width: 120px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #333366;
    border-width: 3px;
}